{
    "presets": ["next/babel"],
    "plugins": [
        [
            "inline-import-data-uri",
            {
                "extensions": [".html", ".jpg", ".png", ".gif"]
            }
        ],
        [
            "styled-components",
            {
                "ssr": true,
                "displayName": true,
                "preprocess": false
            }
        ]
    ]
}
